.chat-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  padding: 30px;
}
.chat-list {
  width: 100%;
  flex: 1;
}
.sender {
  height: 70px;
}
#root {
  height: 100vh;
}
