.sidebar {
    background-color: #f1f2f3;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    .conversationList {
        flex: 1;
    }
    .footerBar {
        display: flex;
        justify-content: space-between;
    }
}